#title {
  color: rgb(221, 204, 204);
}
#menu {
  background: rgb(194, 199, 194);
}

#menu li {
  list-style: none;
  margin: 15px;
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
}
/* .section {

      } */

.section {
  margin: 50px;
  padding: 30px;
  border-radius: 5px;
}
#section-1 {
  background-color: rgb(177, 231, 177);
}

#section-2 {
  background-color: rgb(108, 238, 238);
}
#section-3 {
  background-color: rgb(97, 82, 163);
}
#section-4 {
  background-color: rgb(243, 195, 91);
}
